= bootstrap_form_for(@reseller) do |f|
  - if @reseller.errors.any?
    #error_explanation
      %h2
        = pluralize(@reseller.errors.count, "error")
        prohibited this reseller from being saved:
      %ul
        - @reseller.errors.full_messages.each do |message|
          %li= message
  .field
    = f.text_field :name
  .field
    = f.text_area :address, :rows => 2
  .field
    = f.text_field :city
  .field
    = f.text_field :link
  .actions
    = f.submit
