.row
  .col-md-9.resellers
    .row
      .col-md-10
        %h2= t(:resellers)
        = paginate @resellers
      .col-md-2
        = link_to  t(:new) + ' ' + t(:reseller) , new_reseller_path , :class => "btn btn-primary"
  .col-md-3
    = image_tag "resellers.jpg" , :class => "img-responsive"
.row
  .col-md-9
    %div
      %table.table.table-striped.table-bordered.table-condensed
        %thead
          %tr
            %th=sort_link  @q, :name
            %th=t(:address)
            %th=t(:city)
            %th{:colspan => "2"}
              %label.checkbox
                = @reseller_scope.length.to_s + " " + t(:resellers).to_s
        %tbody
          - @resellers.each do |reseller|
            %tr{:class => "line-#{cycle("1","2")}"}
              %td=reseller.name
              %td=reseller.address
              %td=reseller.city
              %td= link_to t(:show) , reseller_path(reseller), :title => t(:show)
              %td= link_to t(:edit), edit_reseller_path(reseller), :title => t(:edit)
    = paginate @resellers
  .col-md-3
    = search_form_for @q, :html => { :class => "form-horizontal" }, :method => :get do |f|
      .form-group
        = f.text_field :name_cont , :class => "form-control" , :placeholder =>  t(:name)
      .form-group
        = f.text_field :address_cont ,:class => "form-control" , :placeholder =>  t(:address)
      = f.submit t(:filter),  :id => :filter , :class => "btn btn-success"
      = link_to  t(:cancel), resellers_path, :class => "btn btn-warning"
