<table>
  
  <tr><th>Browse Roots <%=@translations.length%> 
    <% keys( @id ).each do |base, full| %>
      <%=link_to base , translation_url( :id => full ) %>
    <%end%>
    </th> <th> Edit Test</th></tr>
  <% @translations.each do |f , trans| %>
  <tr>
    <td>    
      <% all = keys_with_prefix(f , @id )
        last = all.pop
        all.each do |base, full| %>
        <%=link_to base , translation_url( :id => full ) %>
      <%end%>
      <%= last[0] %>
    </td>
    <td>    
      <%= link_to edit_translation_url(:id => f) do %>
        <%==  trans.text[0..50]   %>
      <%end%>
    </td>
    <%end%>
  </tr>
</table>

<%= render :partial => "footer"%>
