<h2>Käännökset   </h2> 

<%= form_tag translations_url   do %>
<input type="hidden" name="return" value="<%=params[:return]%>" /> 
<input type="hidden" name="id" value="<%=@key%>" /> 
    <h3> <%= @key.gsub('.',' ').humanize %> </h3>  
  <p>
    Teksti: <br />
   <textarea rows="20" cols="80" name="value" id="value" ><%= @text %></textarea>  
  </p>
  <p><%= submit_tag "Lähetä" %></p>
  <p> <a href="<%=params[:return]%>"> Peru </a></p>
<% end %>

<%= link_to "All Translations" , translations_url %>
