<h2>Käännökset   </h2> 

<h3> <%= render :partial => "link" , :locals => {:key => @key }%></h3>  

<%= form_tag translations_url   do %>
<input type="hidden" name="return" value="<%=params[:return] ? params[:return] : request.referer%>" /> 
<input type="hidden" name="id" value="<%=@key%>" /> 
  <p>
    Teksti: <br />
   <textarea rows="20" cols="80" name="value" id="value" ><%= @text %></textarea>  
  </p>
  <p><%= submit_tag "Lähetä" %></p>
  <p> <a href="<%=params[:return] ? params[:return] : request.referer%>"> Peru </a></p>
<% end %>

<%= render :partial => "footer"%>