<h2>Käännökset   </h2> 

<%= form_tag translations_path do %>
<input type="hidden" name="return" value="<%=params[:return]%>" /> 
<input type="hidden" name="key" value="<%=params[:key]%>" /> 
    <h3> <%= params[ :key ].gsub('.',' ').humanize %> </h3>  
  <p>
    Teksti: <br />
   <textarea rows="20" cols="120" name="value" id="value" ><%= I18n.t(params[ :key ])%></textarea>  
  </p>
  <p><%= submit_tag "Submit" %></p>
<% end %>

