<% all = I18n.t("#{group}.products").split %>
<% until (line = all[0,4]).empty? do %>
  <div class="one">
    <% line.each do |product| %>
      <div class="four">
        <p><strong><%== t("#{group}.#{product}.header")%> </strong></p>
        <% if has_sub(sub = "#{group}.#{product}.sub_header") %>
          <p><em><%== t(sub)%> </em></p>
        <%end%>
        <div class="bottom">
          <img src='<%="images/#{group}/#{product}"%>.jpg' alt="<%=group.humanize%> <%=product.humanize%>" />
        </div>
      </div>
    <%end%>
  </div>
  <div class="one">
    <% line.each do |product| %>
      <div class="four">
        <p><%== t("#{group}.#{product}.main")%> </p>
      </div>
      <% all.delete(product) %>
    <%end%>
  </div>
<%end%>
