.one
  .eighty
    %h1= raw  t(group +'.header')
    %p
      %em
        = raw  t(group +'.sub_header')
    %p
      = raw  t(group +'.list')
  .logo_right
    %img{:alt => "logo #{group.humanize}", :src => "/images/#{group}/logo.jpg"}/
