<div class="one">
  <div class="eighty">
    <h1><%= raw  t(group +'.header')%></h1>
    <p><em><%= raw  t(group +'.sub_header')%> </em></p>
    <p> <%= raw  t(group +'.list')%>
    </p>
  </div>
  <div class="logo_right">
        <img src="/images/<%=group%>/logo.jpg" alt="logo <%=group.humanize%>" >
  </div>
</div>
