<% all = I18n.t("#{group}.products").split %>
<% until (line = all[0,3]).empty? do %>
  <div class="one">
    <% line.each do |product| %>
      <div class="three">
        <p><strong><%== t("#{group}.#{product}.header")%> </strong></p>
        <% if has_sub(sub = "#{group}.#{product}.sub_header") %>
          <p><em><%== t(sub)%> </em></p>
        <%end%>
        <div class="bottom">
          <img src='<%="images/#{group}/#{product}"%>.jpg' alt="<%=group.humanize%> <%=product.humanize%>" />
        </div>
      </div>
    <%end%>
  </div>
  <div class="one">
    <% line.each do |product| %>
      <div class="three">
        <p><%== t("#{group}.#{product}.main")%> </p>
        <% if has_sub(fact = "#{group}.#{product}.fact") %>
          <div class="fact">
            <%== t( fact )%> 
          </div>
        <%end%>
        <%= render :partial => "link" , :locals => {:link => "#{group}.#{product}.link" }%>
      </div>
      <% all.delete(product) %>
    <%end%>
  </div>
<%end%>
