<% all = t("#{group}.products").split %>
<% until (line = all[0,3]).empty? do %>
  <div class="one">
    <% line.each do |product| %>
      <div class="three">
        <div class="bottom">
          <img src='<%="images/#{group}/#{product}"%>.jpg' alt="<%=group.humanize%> <%=product.humanize%>" />
        </div>
      </div>
    <%end%>
  </div>
  <div class="one">
    <% line.each do |product| %>
      <div class="three">
        <p><strong><%== t("#{group}.#{product}.heading")%> </strong></p>
        <p><%== t("#{group}.#{product}.main")%> </p>
      </div>
      <% all.delete(product) %>
    <%end%>
  </div>
<%end%>
