%table.totals
  %tr
    %td.cel1.bold
      Yhteensä alv 0:
    %td.cel2.bold{:align => "right"}= number_to_currency(@order.total_price - @order.total_tax)
  %tr
    %td.cel1.bold
      = t(:shipment_price) + " : "
    %td.cel2{:align => "right"}= euros(@order.shipment_price)
  -#%tr
    %td.cel1.bold
      = t(:item_total)
      \:
    %td.cel2.bold{:align => "right"}= number_to_currency @order.total_price
  - @order.taxes.each do |tax , value|
    %tr
      %td.cel1.bold= "#{t(:vat)} #{tax}:"
      %td.cel2.cell{:align => "right"}= number_to_currency value
  %tr
    %td.cel1.bold
      %strong
        = "#{t(:order_total)}:"
    %td.cel2.cell{:align => "right"}
      %strong
        %span#summary-order-total= number_to_currency @order.total_price       