.invoice
  = render :partial => "orders/rakennus_header"
  = render :partial => "orders/invoice_address"    
  .row.wrapper
    .items
      = render :partial => "orders/invoice_items"
    .spacer
      \&nbsp;
    .row
      .totals
        = render :partial => "orders/invoice_totals" unless @slip
    .thanks
      = render :partial => "orders/invoice_thanks"

  = render :partial => "orders/rakennus_footer"
