<%= render :partial => "group_header" , :locals => {:group => "amberstone" }%>

<%= render :partial => "three_list" , :locals => {:group => "amberstone" }%>
 

<div class="one">
  <div class="sixty">
    <h3><%== t('amberstone.amberstone_set.header')%></h3>
    <p> <%== t('amberstone.amberstone_set.main')%>
    </p>
  </div>
  <div class="logo_right">
        <img src="/images/amberstone/amberstone_set.jpg" alt="<%== I18n.t('amberstone.amberstone_set.header')%>" >
  </div>
</div>

