<%= render :partial => "group_header" , :locals => {:group => "aroma_sprays" }%>


<div class="one">
  <div class="sixty">
    <h3><%== t('aroma_sprays.fresh.header')%></h3>
    <p> <%== t('aroma_sprays.fresh.main')%>
    </p>
    <h3><%== t('aroma_sprays.ambiance.header')%></h3>
    <p> <%== t('aroma_sprays.ambiance.main')%>
  </div>
  <div class="logo_right">
        <img src="/images/aroma_sprays/aromaspray_gruppe.jpg" alt="logo" >
  </div>
</div>

<div class="one">
  <h3><%== t('aroma_sprays.joy.header')%></h3>
  <p> <%== t('aroma_sprays.joy.main')%>  </p>
  <h3><%== t('aroma_sprays.security.header')%></h3>
  <p> <%== t('aroma_sprays.security.main')%>  </p>
</div>


