<%= render :partial => "group_header" , :locals => {:group => "be_beautiful" }%>
<%= render :partial => "one_header" , :locals => {:group => "be_beautiful" }%>

<div class="one">
  <div class="sixty">
    <h3><%== t('be_beautiful.bb_cream.header')%></h3>
     <%== t('be_beautiful.bb_cream.main')%> <br/>
     <% if has_sub(fact = "be_beautiful.bb_cream.fact") %>
       <div class="fact">
         <%== t( fact )%> 
       </div>
     <%end%>
  </div>
  <div class="logo_right">
       <p>
        <img src="/images/be_beautiful/bb_cream.jpg" alt="be beautiful cream" width="250" height="283">
      </p>
  </div>
</div>

