<div class="one">
  <% ["fresh_lime" , "ambra" , "frangipani"].each do |line| %>
    <% pic = t(line+".products").split.first %>
    <div class="three">
      <a href="/<%=line%>.html">
        <img src='<%="/images/#{line}/#{pic}"%>.jpg' alt="<%=line.humanize%>" />
        <p><strong><%== t("#{line}.header")%> </strong></p>
      </a>
      <p><em><%== t("#{line}.sub_header")%> </em></p>
      <p><%== t("#{line}.list")%> </p>
    </div>
  <%end%>
</div>