<%= render :partial => "group_header" , :locals => {:group => "face_care" }%>

<%= render :partial => "one_header" , :locals => {:group => "face_care" }%>

<div class ="one">

<div class ="one">
<% ["daily_refresh","in_balance","intense_moisture","age_miracle","pure_sensitive","be_beautiful"].each do |line|%>
  <div class="three">
      <a href="<%=line%>.html">
        <img src="images/<%=line%>/logo.jpg" alt="logo <%=line.humanize%>" /> <br/><%= t(line+'.sub_header')%>
      </a><br/><br/>
  </div>
<%end%>
</div>


<div class="one"><br/>
  <div class="six">
    <img src="images_web/NATRUE.gif" alt="natrue" height="50" width="50">
  </div>
  <div>
    <%== t('face_care.natrue')%>
  </div>
</div>
<br/>
<%== t('face_care.effective')%>
  
