= render :partial => "group_header" , :locals => {:group => "face_care" }
.one
  - ["daily_refresh","in_balance","intense_moisture"].each do |line|
    .three
      = link_to "#{line}.html" do
        =image_tag "#{line}/logo.jpg"
        %br/
        = t(line+'.sub_header')
      %br/
      %br/
  - ["age_miracle","pure_sensitive","be_beautiful"].each do |line|
    .three
      =link_to "#{line}.html" do
        =image_tag "#{line}/logo.jpg"
        %br/
        = t(line+'.sub_header')
      %br/
      %br/
.one
  %br/
  .six
    =image_tag "NATRUE.gif", {:alt => "natrue", :height => "50", :width => "50"}
  %div
    = raw  t('face_care.natrue')
  %br
  = raw  t('face_care.effective')
