= render :partial => "group_header" , :locals => {:group => "hair_care" }
.one
  - ["shampoos" , "conditioner" , "styling"].each do |line|
    - pic = t(line+".products").split.first
    .three
      =link_to "#{line}.html" do
        =image_tag  "#{line}/#{pic}.jpg"
      %p
        %strong
          = raw  t("#{line}.header")
      %p
        %em
          = raw  t("#{line}.sub_header")
      %p
        = raw  t("#{line}.list")
