
<%= render :partial => "group_header" , :locals => {:group => "hair_care" }%>

<div class="one">
  <% ["shampoos" , "conditioner" , "styling"].each do |line| %>
    <% pic = t(line+".products").split.first %>
    <div class="three">
      <a href="/<%=line%>.html">
        <img src='<%="/images/#{line}/#{pic}"%>.jpg' alt="<%=line.humanize%>" />
        <p><strong><%= raw  t("#{line}.header")%> </strong></p>
      </a>
      <p><em><%= raw  t("#{line}.sub_header")%> </em></p>
      <p><%= raw  t("#{line}.list")%> </p>
    </div>
  <%end%>
</div>