<%= render :partial => "group_header" , :locals => {:group => "oljyt" }%>

<% ["jalokivi" , "amberstone" , "perus" , "essential"].each do |group| %>
<div class="one">
  <a href="/<%=group%>.html">
    <h2> <%== t("#{group}.header")%> </h2>
  </a>
  <div class="four">
    <a href="/<%=group%>.html">
      <img alt="logo <%=group.humanize%>" src="/images/<%=group%>/logo.jpg">
    </a>
  </div>
  <div class="sixty">
    <%== t("#{group}.list")%>
  </div>
</div>
<br/>
<%end%>
 
