<%= render :partial => "group_header" , :locals => {:group => "pure_sensitive" }%>
<%= render :partial => "one_header" , :locals => {:group => "pure_sensitive" }%>

<div class="one">
  <div class="sixty">
    <h3><%== t('pure_sensitive.ps_cream.header')%></h3>
    <p> <%== t('pure_sensitive.ps_cream.main')%> </p>
    <% if has_sub(link = "pure_sensitive.ps_cream.link") %>
      <div class="link">
        <a href="<%==I18n.t('link.server')%><%==I18n.t(link)%>"><%==I18n.t("link.text")%> </a> 
      </div>
    <%end%>
  </div>
  <div class="logo_right">
      <p>
        <img src="/images/pure_sensitive/ps_cream.jpg" alt="pure sensitive cream" width="250" height="283">
      </p>
  </div>
</div>
