= render :partial => "group_header" , :locals => {:group => "pure_sensitive" }
= render :partial => "one_header" , :locals => {:group => "pure_sensitive" }
.one
  .sixty
    %h3= raw  t('pure_sensitive.ps_cream.header')
    = raw  t('pure_sensitive.ps_cream.main')
    %br/
    - if has_sub(fact = "pure_sensitive.ps_cream.fact")
      .fact
        = raw  t( fact )

    = render :partial => "link" , :locals => {:link => "pure_sensitive.ps_cream.link" }
  .fourty
    %p
      =image_tag "pure_sensitive/ps_cream.jpg" ,{:alt => "pure sensitive cream", :height => "283", :width => "250"}
