<h1> Tarrat </h1>
<% if flash.notice %>
  <div class="flash notice"><%= flash.notice %></div>
<% end %>
<% if flash[:error] %>
  <div class="flash errors"><%= flash[:error] %></div>
<% end %>

<% groups.each do |group| %>
  <% I18n.t("#{group}.products").split.each do |product| %>
    <div class="one">
      <div class="three">
        <%= I18n.t("#{group}.header")%> <br/>
        <strong><%= I18n.t("#{group}.#{product}.header")%> </strong>
      </div>
      <div class="sixty">
        <p><em><%= raw  t("#{group}.#{product}.tarra")%> </em></p>
      </div>
    </div>
  <%end%>
<%end%>
