%h1 Tarrat
- if flash.notice
  .flash.notice= flash.notice
- if flash[:error]
  .flash.errors= flash[:error]
- groups.each do |group|
  - data("#{group}.products").split.each do |product|
    .one
      .three
        = t("#{group}.header")
        %br/
        %strong
          = t("#{group}.#{product}.header")
      .sixty
        %p
          %em
            = raw  t("#{group}.#{product}.tarra")
