= render :partial => "group_header" , :locals => {:group => "travel_set" }
= render :partial => "one_header" , :locals => {:group => "travel_set" }
.two
  %h3= raw  t('travel_set.travel_set.header')
  = raw  t('travel_set.travel_set.main')
  %br/
  = render :partial => "link" , :locals => {:link => "travel_set.travel_set.link"  }
.two
  %p
    =image_tag "travel_set/travel_set.jpg", {:alt => "feel beautiful travelset",  :width => "100%"}
