<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <link href="/stylesheets/stylesheet.css" media="screen" rel="stylesheet" type="text/css" /> 

  <link href="/favicon.ico" rel="shortcut icon" type="image/vnd.microsoft.icon" /> 
  
  <meta name="keywords" content="Farfalla" />
  <meta name="description" content="Farfalla : <%=I18n.t('slogan') + ' ' + I18n.t( "#{@page}.short") %>" />
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <meta http-equiv="Content-Language" content="fi"/>  
  <title>Farfalla : <%= I18n.t("#{@page}.header") %></title>
  <script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-12603339-4']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

  </script>  
</head>

<body>

<div id="main">

  <div id="header">
      <div id="slogan"><%==t("slogan")%></div>
      <ul id="menu_bar">
        <% I18n.t("menu_bar").split.each do |menu| %>
        <li><a href="<%=menu%>.html"><%= I18n.t(menu+'.menu_text')%></a></li>
        <%end%>
      </ul>
  </div>

  <div id="lcol">
    <div id="menu">
      <ul>
        <% I18n.t("menu").split(" ").each do |p| %>
          <li class="menu <%== ' active' if params[:page] == p %>">
            <%= link_to  I18n.t(p+'.menu_text') , "/#{p}.html" %>
          </li>
          <% if (I18n.t(p+'.sub_menu').index("missing") == nil) and (p == @page or
                I18n.t(p+'.sub_menu').index(@page) != nil)
             I18n.t(p+'.sub_menu').split.each do |sub| %>
             <li class="sub_menu <%='active' if params[:page] == sub %>">
               <%= link_to  I18n.t("#{sub}.header") , "/#{sub}.html" %>
             </li>
             <% end %>
            <% end %>
        <%end%>
      </ul>
    </div>
  </div>

  <div id="rcol">
    <div id="rcontent">

      <%= yield %>

  </div>
  <div class="divider"></div>

</div>

<div id="footer">
  <div class="kolmas">
    <b>Farfalla</b>
    <br/>

  </div>
  <div class="kolmas">

  </div>
  <div class="kolmas">
    <a href="/index.html">

    </a>
  </div>
</div>
<div class="divider"></div>
<br/>
<br/>
<br/>
</body>
</html>
